    body{
      text-align: center;
      overflow: hidden;
      font-family: 'Slabo 27px', serif;
    }
    li{
      list-style-type: none;
    }
    ul{
      text-align: left;
      width: 300px;
      margin: 0 auto;
    }
    #card-container{
      width: 300px;
      height: 300px;
      margin: 0 auto;
      position: relative;
    }
    #card-tracker{
      height: 300px;
      width: 500px;
      left: 0;   
      right: 0;
      position: absolute;
      text-align: center;
      z-index: 2;
      background: red;
      opacity: 0;
      transform: translateX(-100px);
    }
    .card-visible{
      height: 300px;
      width: 300px;
      left: 0;
      right: 0;
      position: absolute;
      color: white; 
      text-align: center;
      transition: 0.1s;
      opacity: 1;
      line-height: 250px;
      border-radius: 30px;
      background: url("./img/bg/bg-forest.svg");
    }
    #feedback{
      color: white;
      position: absolute;
      z-index: 5;
      width: 280px;
      left: 10px;
      line-height: 1.4;
      top: 135px;
      filter: none;
      /* Le placement pour centrer est à refaire!*/
    }
    #room_img{
      background: url("./img/monsters/goblin.svg") center no-repeat;
      width: 220px;
      height: 220px;
      margin: 0 auto;
      margin-top: 50px;
    }
    .yes {
      -moz-transform: rotate(10deg) translateX(50px);
      -webkit-transform: rotate(10deg) translateX(50px);
      -o-transform: rotate(10deg) translateX(50px);
      -ms-transform: rotate(10deg) translateX(50px);
      transform: rotate(10deg) translateX(50px);
    }
    .yes #btn_yes-text {
      opacity: 1;
      transition: .5s;
    }

    .yesFade {
      opacity: 0;
      transition: .5s;
    }

    .no {
      -moz-transform: rotate(-10deg) translateX(-50px);
    -webkit-transform: rotate(-10deg) translateX(-50px);
    -o-transform: rotate(-10deg) translateX(-50px);
    -ms-transform: rotate(-10deg) translateX(-20px);
    transform: rotate(-10deg) translateX(-50px);
    }
    .no #btn_no-text {
      opacity: 1;
    }


    .noFade {
      opacity: 0;
    }
    #btn_no {
      background: url("./img/actions/feed.svg") no-repeat center;
      width: 80px;
      height: 80px;
      position: absolute;
      left: -30px;
      bottom: 35px;
      line-height: 1;
    }
    #btn_no-text{
      position: absolute;
      bottom: -45px;
      left: 45px;
      width: 300px;
      text-align: left;
      color: white;
      font-size: 22px;
      opacity: 0;
      
    }
    #btn_yes {
      background: url("./img/actions/sword.svg") no-repeat center;
      width: 80px;
      height: 80px;
      position: absolute;
      right: -30px;
      bottom: 35px;
      line-height: 1;
    }
    #btn_yes-text{
      position: absolute;
      bottom: -45px;
      right: 45px;
      width: 300px;
      text-align: right;
      color: white;
      font-size: 22px;
      opacity: 0;
      
    }
    #room_type{margin: 0; padding: 0; line-height: 1;}
    h3{margin: 10px 0; padding: 0; line-height: 0;}

      /*
    .feedback-message{
      position: absolute;
      width: 300px;
      background-color: white;
      -webkit-box-shadow: 0px 4px 19px -6px rgba(0,0,0,1);
      -moz-box-shadow: 0px 4px 19px -6px rgba(0,0,0,1);
      box-shadow: 0px 4px 19px -6px rgba(0,0,0,1);
      z-index: 1;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 70px;
      padding: 10px;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-duration: 0.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    */

    .feedback-message{
      filter: brightness(.25);
    }
    @keyframes fadeIn {
      0% {opacity: 0; transform: scale(0);}
      100% {opacity: 1; transform: scale(1);}
    } 
