    body{
      text-align: center;
      font-family: 'Lato', sans-serif;
      user-select: none;
      color: #21160E;
      margin: 0;
      overflow-x: hidden;
      background: #21160E;
      transform:translateZ(0)
    }
    li{
      list-style-type: none;
      margin: 0;
    }
    ul{
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-padding-start: 0;
      padding: 0;
      margin: 0;
    }
    button:focus {outline:0;}
    button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
  }
    .mobile-simulation{
      background: url("./img/texture-wood.svg") center repeat; 
      background-size: cover;
      overflow: hidden;
      height: 100vh;
      position: relative;
      box-shadow: none;
    }

    @media (min-width: 500px) {
      .mobile-simulation{
        width: 400px;
        height: 620px;
        border-radius: 20px;
        margin: 8vh auto;
        box-shadow: inset -4px -4px 0px 4px #7C5337;
      }
    }
    #gameover-filter{
      background: black;
      display: none;
      position: absolute;
      border-radius: 20px;
      height: 100%;
      width: 100%;
      z-index: 5;
      opacity: 0;
      transition-property: opacity;
      transition: 1s;
    }
    @media (min-width: 500px) {
      #gameover-filter{
        border-radius: 0;
      }
    }
    

    .niveau{
      background: #724C33;
      color: #AF7643;
      border-radius: 10px;
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: 400;
      width: 300px;
      margin: 10px auto 10px auto;
      box-shadow: inset -2px -2px 0px 2px #7C5337;
    }
    #card-container{
      width: 300px;
      height: 340px;
      margin: 0 auto;
      position: relative;
    }
    
    #card-tracker{
      height: 340px;
      width: 500px;
      left: 0;   
      right: 0;
      position: absolute;
      text-align: center;
      z-index: 5;
      background: red;
      opacity: 0;
      transform: translateX(-100px);
    }
    .card-visible{
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      position: absolute;
      transition: 0.1s;
      border-radius: 20px;   
    }
    @media (min-width: 500px) {
      .card-visible{
        box-shadow: 6px 6px 29px -9px rgba(0,0,0,0.65);
      }
    }

    #card-tracker:hover{cursor: -webkit-grab}


    #card{
      height: 80%;
      width: 100%;
      left: 0;
      right: 0;
      position: absolute;
      color: white; 
      text-align: center;
      transition: 0.1s;
      opacity: 1;
      line-height: 250px;
      border-radius: 20px 20px 0 0;
      background: top center;
    }
    .swipe-exemple{
      animation-name: swipeExemple;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      transform-style: preserve-3d;
    }
    #cardback{
      background: url("./img/cardback.svg") center;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      border-radius: 20px;
      border: 5px solid #333333;
      position: absolute;
      top: 0;
      left: 0;
    }
    .cardback-pile{
      background: url("./img/cardback.svg") center;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      border-radius: 20px;
      border: 5px solid #333333;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .feedback{
      color: white;
      position: absolute;
      width: 85%;
      top: 55%;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(-45%);
      line-height: 1.4;
      filter: none;
      font-size: 20px;
      z-index: 3;
      display: none;
    }
    .feedback:after{
      content: "";
      display: block;
      margin: 20px auto;
      width: 50px;
      height: 50px;
      background: url("./img/tap-icon.svg") no-repeat center;
      animation-name: blink;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    @keyframes blink{
      0% {
        opacity: 0.5;
      }
      50% {
        opacity: 1;
      }

      100% {
        opacity: 0.5;
      }
    }
    #name{
      position: absolute;
      top: 0;
      display: inline-block;
      height: 30px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      line-height: 1;
      text-align: center;
    }
    #room_name{
      padding: 8px 35px 10px 35px;
      background: #333333;
      display: inline-block;
      margin: 0 auto;
      clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    }
    #room_img{
      background: center no-repeat;
      width: 100%;
      height: 83%;
      margin: 0 auto;
      margin-top: 15%;
    }
    #room_desc{
      background: #D8D3AF;
      height: 21%;
      line-height: 1;
      margin: 0px;
      padding: 4%;
      padding-bottom: 0;
      line-height: 1.4;
      
      border-radius: 0 0 20px 20px;
      color: #1A1A1A;
    }
   
    .yes {
      -moz-transform: rotate(10deg) translateX(50px);
      -webkit-transform: rotate(10deg) translateX(50px);
      -o-transform: rotate(10deg) translateX(50px);
      -ms-transform: rotate(10deg) translateX(50px);
      transform: rotate(10deg) translateX(50px);
      transform-style: preserve-3d;
    }

    .yes-swipe {
      animation-name: swipeLeft;
      animation-duration: .5s;
      animation-timing-function: ease-out;
      transform-style: preserve-3d;
    }
    @keyframes swipeLeft{
      0% {
        -moz-transform: rotate(10deg) translateX(50px);
        -webkit-transform: rotate(10deg) translateX(50px);
        -o-transform: rotate(10deg) translateX(50px);
        -ms-transform: rotate(10deg) translateX(50px);
        transform: rotate(10deg) translateX(50px);
      }

      100% {
        -moz-transform: rotate(15deg) translateX(500px);
        -webkit-transform: rotate(15deg) translateX(500px);
        -o-transform: rotate(15deg) translateX(500px);
        -ms-transform: rotate(15deg) translateX(500px);
        transform: rotate(15deg) translateX(500px);
      }
    }

    .yes #btn_yes-text {
      opacity: 1;
      transition: .5s;
    }
    .yes #btn_no{
      opacity: .25;
      transition: .3s;
    }

    .yes-exemple, .yes-exemple #btn_no{
      transition: 1.2s;
    }
    .yes-exemple #btn_no-text{
      transition: .5s;
    }   
    .no {
    -moz-transform: rotate(-10deg) translateX(-50px);
    -webkit-transform: rotate(-10deg) translateX(-50px);
    -o-transform: rotate(-10deg) translateX(-50px);
    -ms-transform: rotate(-10deg) translateX(-50px);
    transform: rotate(-10deg) translateX(-50px);
    transform-style: preserve-3d;
    }

    .no-swipe {
      animation-name: swipeRight;
      animation-duration: .5s;
      animation-timing-function: ease-out;
      transform-style: preserve-3d;
    }

    @keyframes swipeRight{
      0% {
        -moz-transform: rotate(-10deg) translateX(-50px);
        -webkit-transform: rotate(-10deg) translateX(-50px);
        -o-transform: rotate(-10deg) translateX(-50px);
        -ms-transform: rotate(-10deg) translateX(-50px);
        transform: rotate(-10deg) translateX(-50px);
      }

      100% {
        -moz-transform: rotate(-15deg) translateX(-500px);
        -webkit-transform: rotate(-15deg) translateX(-500px);
        -o-transform: rotate(-15deg) translateX(-500px);
        -ms-transform: rotate(-15deg) translateX(-500px);
        transform: rotate(-15deg) translateX(-500px);
      }
    }
    .no #btn_no-text {
      opacity: 1;
    }

    .no #btn_yes{
      opacity: .25;
      transition: .3s;
    }


    #btn_no {
      background: no-repeat center;
      width: 80px;
      height: 80px;
      position: absolute;
      left: -30px;
      bottom: 14%;
      line-height: 1;
      z-index: 2;
    }
    @media (min-width: 500px) {
      #btn_no {
        filter: drop-shadow( 3px 3px 4px rgba(0,0,0,0.3));
      }
    }
    #btn_no-text{
      position: absolute;
      bottom: -122px;
      left: 12px;
      width: 300px;
      text-align: left;
      color: white;
      font-size: 22px;
      opacity: 0;
      z-index: 2;
    }

    #btn_yes {
      background: no-repeat center;
      width: 80px;
      height: 80px;
      position: absolute;
      right: -30px;
      bottom: 14%;
      line-height: 1;
      z-index: 2;
      transform: scaleX(-1);
    }
    @media (min-width: 500px) {
      #btn_no, #btn_yes {
        filter: drop-shadow( 3px 3px 4px rgba(0,0,0,0.2));
      }
    }

    #btn_yes-text{
      position: absolute;
      bottom: -122px;
      right: 12px;
      width: 300px;
      text-align: right;
      color: white;
      font-size: 22px;
      opacity: 0;
      z-index: 2;
    }
    .no-exemple, .no-exemple #btn_yes{
      transition: 1.2s;
    }
    .no-exemple #btn_yes-text{
      transition: .5s;
    }   
    .filter-feedback{
      display: none;
      background: black;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      border-radius: 20px;
      opacity: .75;
    }

    @keyframes fadeIn {
      0% {opacity: 0; transform: scale(0);}
      100% {opacity: 1; transform: scale(1);}
    } 

/* ---------------------------- STATS ------------- */
.character{
  width: 100%;
  height: 105px;
  padding-top: 13.5px;
  padding-bottom: 4.5px;
  position: relative;
  background: url(./img/character-background.svg);
  color: #FFFFFF;
}

#stats_class{
  margin: 0 0 0 0;
}
.ul-stats{
  margin: 0 auto;
  width: 300px;
  display: block;
}
@media (max-width: 375px) {
  .ul-stats{
    width: 90%;
  }
}

.ul-stats_li{
  float: left;
  text-align: center;
  position: relative;
  width: 15%;
  margin-left: 4%;
  text-align: right;
  line-height: 4;
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.stats-up{
  color:#3b8420;
  transform: scale(1.2);
  transform-style: preserve-3d;
}
.stats-down{
  color:#e5414d;
  transform: scale(0.8);
  transform-style: preserve-3d;
}
.hp-bar{
  width: 84%;
  margin-left: 16%;
  margin-top: 10px;
  background: #ccb79e;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 2px;
  display: block;
  text-align: center;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
}
.hp-bar span{
  z-index: 3;
}
#hpRemaining{
  transition: .5s;
  width: 100%;
  background: #e5414d;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

#stats_class{
  position: absolute;
  z-index: 2;
  width: 20%;
  height: 75px;
  background: top no-repeat;
  opacity: 0;
}

#stats_coins{
  background: url("./img/stats/coins.svg") no-repeat center;
  transition: 0.25s;
  height: 60px;
  margin-left: 27%;
  opacity: 0;
}

#stats_agility{
  background: url("./img/stats/agility.svg") no-repeat center;
  transition: 0.25s;
  height: 60px;
  opacity: 0;
  
}
#stats_str{
  background: url("./img/stats/force.svg") no-repeat center;
  transition: 0.25s;
  height: 60px;
  opacity: 0;
}
#stats_intel{
  background: url("./img/stats/intelligence.svg") no-repeat center;
  transition: 0.25s;
  height: 60px;
  opacity: 0;
}

/* --------------------- GAME OVER MESSAGE */
.off{
  display: none;
}

.on{
  display: block;
}

.gameover{
  width: 330px;
  padding: 10px;
  background: #D8D3AF;
  position: absolute;
  border-radius: 20px;
  z-index: 5;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 17%;
  animation-name: popup;
  animation-duration: .2s;
}
#gameover-message{
  margin-top: 10px;
}
#gameover-retry{
  margin-bottom: 10px
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px 0px #000000;
  -moz-box-shadow: 0px 3px 0px #000000;
  box-shadow: 0px 3px 0px #000000;
  color: #ffffff;
  font-size: 20px;
  background: #4C4A3F;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
  box-shadow: none;
  transform: translateY(3px);
}
.gameover p{
  font-size: 20px;
}

@keyframes popup{
  0%{ transform: scale(0.1); }
  100%{ transform: scale(1); }
}

/*--------------------- ANIMATION  FLIP CARD */
/* THE SCENE */
#card-container{
  perspective: 1000px;
}

/* THE CARD */
.the-card{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

/* CARD FLIPPED */
.the-card.is-flipped{
  animation-duration: .6s;
  animation-name: flipping;
  animation-timing-function: linear;
  transition: none;
}

.card-front{
}

.card-back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

@keyframes flipping{
  0% {
    transform: translate3d(0, 0, 0) rotateY(180deg);
  }

  60%{
     transform: translate3d(0, 0, 100px) rotateY(0deg);
  }
  
  75% {
    transform: translate3d(0, 0, 120px) rotateY(0deg); 
  }

  100% {
    transform: translate3d(0, 0, 0) rotateY(0deg)
  }
}

/*--------------------- RESPONSIVE */
 @media (max-width: 400px) {
      #card-container {
        width: 75vw;
        height: 85vw;
        font-size: 0.9em;
      }
      #room_name{
        padding: 4px 30px 6px 30px;
      }
      .niveau{
        width: 75vw;
        font-size: 16px;
      }
      .feedback{
        font-size: 17px;
      }
      #btn_no-text, #btn_yes-text{
        font-size: 20px;
      }
      #btn_yes, #btn_no{
        width: 70px;
        height: 70px;
      }
    }

    /*--------------------- BOTTOM MENU */

    .bottom-menu{
      margin-top: 20px;
       width: 100%;
        background: url(./img/bottom-background.svg) repeat-x;
        background-size: 14px 130px;
        height: 100px;
        z-index: 0;
        box-shadow: 0 50vh 0 50vh rgba(0,0,0,.62);
    }

